<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
	<div id="preloader">
		<i class="circle-preloader"></i>
	</div>

	<header th:replace="layout :: frgHeader"></header>

	<div class="breadcumb-area bg-img"
		th:style="'background-image:url(' + @{/img/bg-img/breadcumb.jpg} + ');'">
		<div class="bradcumbContent">
			<h2>Siembras</h2>
		</div>
	</div>

	<div class="top-popular-courses-area mt-100 section-padding-100-70">
		<section class="contact-area mt-100">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="contact-content">
							<div class="row">
								<div class="col-12">
									<div class="row">
										<div class=col-10>
											<span>Contenido</span>
											<h4 th:text="${title}"></h4>
										</div>
										
									</div>

									<!-- ##### Tabs ##### -->
									<div class="col-12">
										<div class="academy-tabs-content">
											<ul class="nav nav-tabs" id="myTab" role="tablist">
												<li class="nav-item"><a class="nav-link active"
													id="tab--1" data-toggle="tab" href="#tab1" role="tab"
													aria-controls="tab1" aria-selected="false">Datos
														generales</a></li>
												<li class="nav-item"><a class="nav-link" id="tab--2"
													data-toggle="tab" href="#tab2" role="tab"
													aria-controls="tab2" aria-selected="false">Plantas</a>
												</li>
												
											</ul>

											<div class="tab-content mb-100" id="myTabContent">
												<div class="tab-pane fade show active" id="tab1"
													role="tabpanel" aria-labelledby="tab--1">
													<div class="academy-tab-content">
														<!-- Tab Text -->
														<div class="academy-tab-text">
															<div class="contact-form-area wow fadeInUp"
																data-wow-delay="500ms">
																<form th:object="${sowing}" method="post">
																	
																	
																	
																	<div class="row d-flex align-items-center">
																		<div class="col-1">
																			<i class="fas fa-calendar-alt fa-2x"></i>
																		</div>
																		<div class="col-5">
																			<input type="date" class="form-control"
																				th:field="*{dateSowing}" readonly />
																		</div>
																		<div class="col-1">
																			<i class="fas fa-map-marker-alt fa-2x"></i>
																		</div>
																		<div class="col-5">
																			<input type="number" class="form-control"
																				th:field="*{distancePlants}" />
																		</div>
																	</div>
																	
																	<div class="row d-flex align-items-center">
																		<div class="col-1">
																			<i class="fas fa-calendar-alt fa-2x"></i>
																		</div>
																		<div class="col-5">
																			<input type="number" class="form-control"
																				th:field="*{quantityPlants}" readonly />
																		</div>
																		<div class="col-1">
																			<i class="fas fa-map-marker-alt fa-2x"></i>
																		</div>
																		<div class="col-5">
																			<input type="number" class="form-control"
																				th:field="*{condition_sowing}" />
																		</div>
																	</div>
																	
																	<div class="row d-flex align-items-center">
																		<div class="col-1">
																			<i class="fas fa-calendar-alt fa-2x"></i>
																		</div>
																		<div class="col-5">
																			<input type="text" class="form-control"
																				th:field="*{commentary_sowing}" readonly />
																		</div>
																		
																	</div>
																	
																	<div class="row d-flex align-items-center">
																		<div class="col-1">
																			<i class="fas fa-calendar-alt fa-2x"></i>
																		</div>
																		<div class="col-5">
																			<input type="text" class="form-control"
																				th:field="*{plants}" readonly />
																		</div>
																		
																	</div>
																	
																	
																	<input type="hidden" th:field="*{idsowing}" />
																</form>
															</div>
														</div>
													</div>
												</div>
												
												<div class="tab-pane fade" id="tab2" role="tabpanel"
													aria-labelledby="tab--2">
													<div class="academy-tab-content">
														<button id="btnAdd" class="btn btn-sm academy-btn btn-3" data-toggle="modal" data-target="#modalPlant">
																<i class="fas fa-plus-circle"></i>&nbsp;Nuevo</button>
														<!-- Tab Text -->
														<div class="academy-tab-text" id="listPlant">
														</div>
													</div>
												</div>
												
												
												
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	
	<div class="modal fade" id="modalPlant" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Agregar nueva Planta</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div id="contentPlant" class="modal-body contact-area contact-content-modal">
				</div>
				<div class="modal-footer">
					<button type="button" id="btnSubmit" class="btn btn-sm academy-btn btn-3">Guardar</button>					
					<button type="button" class="btn btn-sm academy-btn btn-2" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout :: frgFooter"></footer>
	<div th:replace="layout :: frgScripts"></div>
	<script th:src="@{/js/plant/card-plant.js}"></script>

</body>
</html>
