<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<form class="contact-form-area ml-3 mr-3" id="frmSowing"
		th:object="${sowing}" th:action="@{/sowing/save}" method="post">

		
		
		<div class="form-group row">
				<div class="content col-sm-1">
					<i class="fas fa-calendar-alt"
						title="Fecha de creación de la siembra"></i>
				</div>
				<div class="content col-sm-10">
					<h5>Invernadero</h5>
					 <select th:field="*{greenhouseid}" class="form-control">


					<option th:each="gh : ${greenHousesl}" th:value="${gh.idgreenHouse}"
						th:text="${gh.nameGreenHouse}"
						th:selected="${greenhouseid == gh.idgreenHouse}"></option>
				</select>
				</div>
			</div>
		
		
		<hr>
		<div class="row d-flex align-items-center">
			
			
			<div class="form-group row">
				<div class="content col-sm-1">
					<i class="fas fa-calendar-alt"
						title="Fecha de creación de la siembra"></i>
				</div>
				<div class="content col-sm-10">
					<h5>Fecha de creación</h5>
					<input class="form-control" type="date" th:field="*{dateSowing}"
						th:errorclass="'form-control is-invalid'"
						placeholder="Fecha de creación" /> <small
						class="invalid-feedback"
						th:if="${#fields.hasErrors('dateSowing')}"
						th:errors="*{dateSowing}"></small>
				</div>
			</div>



			<br />



			<div class="form-group row">
				<div class="content col-1">
					<i class="fas fa-ruler-combined"></i>
				</div>
				<div class="content col-10">
					<input class="form-control" type="number"
						th:field="*{distancePlants}"
						th:errorclass="'form-control is-invalid'" placeholder="Distancia" />
					<small class="invalid-feedback"
						th:if="${#fields.hasErrors('distancePlants')}"
						th:errors="*{distancePlants}"></small>

				</div>
			</div>


			<br />

			<div class="form-group row">
				<div class="content col-sm-1">
					<i class="fas fa-calculator"></i>
				</div>
				<div class="content col-sm-10">
					<input class="form-control" type="number"
						th:field="*{quantityPlants}"
						th:errorclass="'form-control is-invalid'" placeholder="Cantidad" />
					<small class="invalid-feedback"
						th:if="${#fields.hasErrors('quantityPlants')}"
						th:errors="*{quantityPlants}"></small>

				</div>
			</div>



		</div>

		<div class="row d-flex align-items-center">
			<div class="form-group row">
				<div class="content col-sm-1">
					<i class="fas fa-clipboard-check"></i>

				</div>
				<div class="content col-sm-10">
					<h4>Condici&oacute;n:</h4>
					<p class="clasificacion">
						<input th:field="*{condition_sowing}"
							th:errorclass="'form-control is-invalid'" id="radio1"
							type="radio" name="estrellas" value="5" checked>
						<!--
                        -->
						<label for="radio1">★</label>
						<!--
                        -->
						<input th:field="*{condition_sowing}"
							th:errorclass="'form-control is-invalid'" id="radio2"
							type="radio" name="estrellas" value="4">
						<!--
                        -->
						<label for="radio2">★</label>
						<!--
   						-->
						<input th:field="*{condition_sowing}"
							th:errorclass="'form-control is-invalid'" id="radio3"
							type="radio" name="estrellas" value="3">
						<!--
    					-->
						<label for="radio3">★</label>
						<!--
    					-->
						<input th:field="*{condition_sowing}"
							th:errorclass="'form-control is-invalid'" id="radio4"
							type="radio" name="estrellas" value="2">
						<!--
    					-->
						<label for="radio4">★</label>
						<!--
    					-->
						<input th:field="*{condition_sowing}"
							th:errorclass="'form-control is-invalid'" id="radio5"
							type="radio" name="estrellas" value="1">
						<!--
    					-->
						<label for="radio5">★</label>
					</p>
					<small class="invalid-feedback"
						th:if="${#fields.hasErrors('condition_sowing')}"
						th:errors="*{condition_sowing}"></small>

				</div>
			</div>

			<br />



			<div class="form-group row">
				<div class="content col-sm-1">
					<i class="fas fa-info-circle"></i>

				</div>
				<div class="content col-sm-10">
					<input class="form-control" type="text"
						th:field="*{commentary_sowing}"
						th:errorclass="'form-control is-invalid'" placeholder="Comentario" />
					<small class="invalid-feedback"
						th:if="${#fields.hasErrors('commentary_sowing')}"
						th:errors="*{commentary_sowing}"></small>

				</div>
			</div>
			<br />

		</div>
		<input type="hidden" th:field="*{plantid}" /> <input type="hidden"
			th:field="*{idsowing}" />

	</form>



</body>
</html>