<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
<div id="wrapper">
	
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">				
				<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="far fa-plus-square fa-2x"></i>
					</div>
					<h3 >Siembras</h3>
				</div>
				<hr />
				<table class="table table-hover">
					<thead>
						<tr>
								<th><i class="fas fa-calendar-alt"></i>	&nbsp;Fecha</th>
								<th><i class="fas fa-flask"></i>&nbsp;Distancia </th>
								<th><i class="fas fa-ruler-combined"></i>&nbsp;Cantidad</th>
								<th><i class="fas fa-clipboard-check"></i>&nbsp;Condici&oacute;n</th>
								<th><i class="fas fa-info-circle"></i>&nbsp;Comentario</th>
								
								
								
								
						</tr>
					</thead>
					<tbody>						
						<tr th:each="sowing: ${sowings}">
								<td th:text="${#dates.format(sowing.dateSowing,'dd-MM-yyy')}"></td>
								<td th:text=${sowing.distancePlants}></td>
								<td th:text=${sowing.quantityPlants}></td>
								<td th:text=${sowing.condition_sowing}></td>
								<td th:text=${sowing.commentary_sowing}></td>
								<!--
								<td>
									
									<button th:onclick="|alertDeleteSowing(${sowing.idsowing});|" class="btn btn-xs-warning  btn-4"><i class="fas fa-trash-alt"></i></button>							
								</td>
								-->
								
									
								
							</tr>
					
					</tbody>
				</table>
			</div>
		</div>
			</div>
			
		</div>
	</div>
</div>
</body>
<div th:replace="layout :: frgScripts"></div>
<script th:src="@{/js/sowing/delete-sowing.js}"></script>
</html>