<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
<div id="wrapper">
	<header th:replace="layout :: frgHeader"></header>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">
				<br />

		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="fas fa-info-circle"></i>
					</div>
					
					<!-- ##### Tabs ##### -->
									<div class="col-12">
										<div class="academy-tabs-content">
											<ul class="nav nav-tabs" id="myTab" role="tablist">
												<li class="nav-item"><a class="nav-link active"
													id="tab--1" data-toggle="tab" href="#tab1" role="tab"
													aria-controls="tab1" aria-selected="false">Datos Generales</a></li>
													
													<li class="nav-item"><a class="nav-link" id="tab--2"
													data-toggle="tab" href="#tab2" role="tab"
													aria-controls="tab2" aria-selected="false">Manteriales Usados</a>
												</li>
											</ul>
											<hr />
					
					<div class="tab-content mb-100" id="myTabContent">
							<div class="tab-pane fade show active" id="tab1"
								role="tabpanel" aria-labelledby="tab--1">
								<div class="academy-tab-content">
									<!-- Tab Text -->
									<div class="academy-tab-text">
										<div class="contact-form-area wow fadeInUp"
											data-wow-delay="500ms">
											<form th:object="${usedMaterial}" method="post">
												<div class="row d-flex align-items-center">
													<div class="col-2">
														<i><strong>Cantidad usada: </strong></i>
													</div>
													<div class="col-5">
														<input type="text" class="form-control"
															th:field="*{quantityUsed}" readonly />
													</div>
												</div>
												
												
												<div class="row d-flex align-items-center">
													<div class="col-2">
														<i><strong>Manteriales: </strong></i>
													</div>
													<div class="col-5">
														<input type="text" class="form-control"
															th:field="*{materialsGreenHouse.nameMaterial}" readonly/>
													</div>
													
												</div>
												

												<div class="row d-flex align-items-center">
													<div class="col-2">
														<i><strong>Mantenimiento: </strong></i>
													</div>
													<div class="col-5">
														<input type="text" class="form-control"
															th:field="*{maintenancesGreenHouse.descriptionMaintenaceGreenHouse}" readonly/>
													</div>
													
												</div>
											
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr />
				</div>
					
					
					
					<div class="col-sm-4">
						<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
						<i class="fas fa-info-circle"></i>&nbsp;Eliminar</button>
						<a class="btn btn-primary" th:href="@{/usedmaterial/list}"><i
							class="fas fa-arrow-left"></i>&nbsp;Volver</a>
					</div>
				</div>
				<input type="hidden" id="idMaterialUsed"
					th:value="${usedMaterial.idMaterialUsed}" />
				<hr />
				
			</div>
		</div>
		<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">¿Desea eliminar el registro?</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
					<div class="modal-footer">						
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
						<a th:href="@{/usedmaterial/delete/} + ${usedMaterial.idMaterialUsed}" class="btn btn-success">Confirmar</a>
					</div>
				</div>
			</div>
		</div>
			</div>
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>