<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div id="wrapper">
	<header th:replace="layout :: frgHeader"></header>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">			
				<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="far fa-plus-square fa-2x"></i>
					</div>
					<h3 class="card-title col-sm-10" th:text="${title}"></h3>					
				</div>	
				<form th:action="@{/maintenancegreenhouse/save}" th:object="${maintenanceGreenHouse}" method="post">
				
			
				 			
				  <div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Fecha del Mantenimiento:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="date" 
								th:field="*{dateMaintenanceGreenHouse}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('dateMaintenanceGreenHouse')}"
								th:errors="*{dateMaintenanceGreenHouse}"></small>										

						</div>
					</div> 
					
					
					<hr />
					
					  <div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Descripcion:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{descriptionMaintenaceGreenHouse}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('descriptionMaintenaceGreenHouse')}"
								th:errors="*{descriptionMaintenaceGreenHouse}"></small>										

						</div>
					</div>
					
					<hr />
					
					  <div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Condicion:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="number" 
								th:field="*{conditionMaintenanceGreenHouse}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('conditionMaintenanceGreenHouse')}"
								th:errors="*{conditionMaintenanceGreenHouse}"></small>										

						</div>
					</div> 
					
					
						<hr />
						
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Invernadero:</label>						
						</div>
						<div class="content col-sm-6">							
							<select class="form-control" th:field="*{greenHouse.idgreenHouse}">
								<option value=0>--Seleccione--</option>
								<option th:each="green : ${greenHouses}"								 
								th:value="${green.idgreenHouse}" 
								th:text="${green.nameGreenHouse}"
								th:selected="${maintenanceGreenHouse.greenHouse.idgreenHouse == green.idgreenHouse}"></option>
							</select>
								
								<small class="invalid-feedback"
								th:if="${#fields.hasErrors('greenHouse.idgreenHouse')}"
								th:errors="*{greenHouse.idgreenHouse}"
								></small>									
						</div>
					</div>
					
					<hr />
					
					
					  <div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Comentario:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{commentarMaintenanceGreenHouse}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('commentarMaintenanceGreenHouse')}"
								th:errors="*{commentarMaintenanceGreenHouse}"></small>										

						</div>
					</div> 
					
					<hr />
			
					
					<div class="form-group row">
						<div class="col-sm-4">
							<a class="btn btn-danger" 
								th:href="@{/maintenancegreenhouse/list}">
							<i class="fas fa-minus-circle"></i>&nbsp;Cancelar</a>
							<button class="btn btn-success" type="submit">
								<i class="fas fa-plus-circle"></i>&nbsp;Guardar
							</button>
						</div>
					</div>
					<input type="hidden" th:field="*{idMaintenaceGreenHouse}" />
							
				
				</form>
				
			</div>
		</div>
			</div>
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>