<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div id="wrapper">
	<header th:replace="layout :: frgHeader"></header>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">			
				<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="far fa-plus-square fa-2x"></i>
					</div>
					<h3 class="card-title col-sm-10" th:text="${title}"></h3>					
				</div>	
				<form th:action="@{/maintenancegreenhouse/save}" th:object="${MaintenanceGreenHouse}" enctype="multipart/form-data" method="post">
				
			
				 			
				  <div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Fecha del Mantenimiento:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="date" 
								th:field="*{dateMaintenanceGreenHouse}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('dateMaintenanceGreenHouse')}"
								th:errors="*{dateMaintenanceGreenHouse}"></small>										

						</div>
					</div> 
					
					
					<hr />
					
					  <div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Descripcion:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{descriptionMaintenaceGreenHouse}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('descriptionMaintenaceGreenHouse')}"
								th:errors="*{descriptionMaintenaceGreenHouse}"></small>										

						</div>
					</div>
					
					<hr />
					
					  <div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Condicion:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="number" 
								th:field="*{conditionMaintenanceGreenHouse}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('conditionMaintenanceGreenHouse')}"
								th:errors="*{conditionMaintenanceGreenHouse}"></small>										

						</div>
					</div> 
					
					
						<hr />
						
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Invernadero:</label>						
						</div>
						<div class="content col-sm-6">							
							
								<select class="form-control" th:field="*{GreenHouse.idgreenHouse}">
										<option value="">-- Seleccione Invernadero --</option>
										<option th:each="gh : ${GreenHouse}" th:value="${gh.idgreenHouse}" th:text="${gh.nameGreenHouse}"></option>
								</select>
												
						</div>
					</div>
					
					<hr />
					
					
					  <div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Comentario:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{commentarMaintenanceGreenHouse}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('commentarMaintenanceGreenHouse')}"
								th:errors="*{commentarMaintenanceGreenHouse}"></small>										

						</div>
					</div> 
					
					<hr />
			
					
					<div class="d-flex justify-content-end">
												<button class="btn btn-sm academy-btn btn-3" type="submit">
													<i class="fas fa-save"></i> &nbsp;Guardar
												</button>
												<button class="btn btn-sm academy-btn btn-2 ml-2"
													type="reset">
													<i class="fas fa-times"></i> &nbsp;Cancelar
												</button>
												<a th:href="@{/maintenancegreenhouse/list}"
													class="btn btn-sm academy-btn btn-4 ml-2" type="reset"><i
													class="fas fa-users"></i> &nbsp;Volver</a>
											</div>
					<input type="hidden" th:field="*{idMaintenaceGreenHouse}" />
							
				
				</form>
				
				<div class="row">
						<div class="col-10">
							<h4>Materiales </h4>												
						</div>
						<div class="col-2">										
							<button class="btn btn-xs academy-btn btn-3" id="btnAdd" data-toggle="modal" data-target="#modalMaterial"><i class="fas fa-plus-circle"></i>&nbsp;Nuevo</button>
						</div>										
					</div>										
				<div id="listMateriales"></div>

			</div>
		</div>
	
		
	<hr>
	</div>
			
	<div class="modal fade" id="modalMaterial" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Agregar material o quimico</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body contact-area contact-content-modal" id="contentFrmUsedMaterial">
				</div>
				<div class="modal-footer">
					<button id="btnSubmit" type="button" class="btn btn-sm academy-btn btn-3" data-dismiss="modal">Guardar</button>
					<button type="button" class="btn btn-sm academy-btn btn-2"
						data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
			<div th:replace="layout :: frgFooter"></div>
            <div th:replace="layout :: frgScripts"></div>
	<script th:src="@{/js/maintenancegreenhouse/add-usedmaterial.js}"></script>
	<script th:src="@{/js/usedmaterial/card-usedmaterial.js}"></script>
		</div>
	</div>
	</div>
</body>
</html>