<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
<div id="wrapper">
	<header th:replace="layout :: frgHeader"></header>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">				
				<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="far fa-plus-square fa-2x"></i>
					</div>
					<h3 class="card-title col-sm-10" th:text="${title}"></h3>
				</div>
				<hr />
				<table class="table table-hover">
					<thead>
						<tr>
								<th>Fecha Mantenimiento</th>
								<th>Descripcion</th>
								<th>Condicion</th>
								<th>Invernadero</th>
								<th>Comentario</th>
								<th><a class="btn btn-sm btn-success"
									th:href="@{/maintenancegreenhouse/create}">&nbsp;Nuevo</a></th>
						</tr>
					</thead>
					<tbody>						
						<tr th:each="maintenance : ${maintenanceGreenHouses}">
								<td th:text="${#dates.format(maintenance.dateMaintenanceGreenHouse,'dd-MM-yyy')}"></td>
								<td th:text=${maintenance.descriptionMaintenaceGreenHouse}></td>
								<td th:text=${maintenance.conditionMaintenanceGreenHouse}></td>
								<td th:text=${maintenance.greenHouse.nameGreenHouse}></td>
								<td th:text=${maintenance.commentarMaintenanceGreenHouse}></td>
								<td><a class="btn btn-sm btn-warning"
									th:href="@{/maintenancegreenhouse/update/} + ${maintenance.idMaintenaceGreenHouse}">&nbsp;Actualizar</a>
									<a class="btn btn-sm btn-info"
									th:href="@{/maintenancegreenhouse/retrieve/} + ${maintenance.idMaintenaceGreenHouse}">&nbsp;Consultar</a>
								</td>
							</tr>
					
					</tbody>
				</table>
			</div>
		</div>
			</div>
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>