<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
<div id="wrapper">
	<header th:replace="layout :: frgHeader"></header>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">
				<br />

		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					
							
					<div class="card-columns">
									<div class="card bg-light" >
										<i class="far fa-image fa-2x"></i>
										<div class="card-body">
											
												<img class="card-img" th:src="@{/photos_qms/} + ${chemicalAndMaterial.image_chemicalmaterial}" width="80"
													height="80" />
											
										</div>
									</div>
									<div class="card bg-light">
										<i class="fas fa-atom fa-2x"></i>	
										<div class="card-body text-center">
											<p th:text=${chemicalAndMaterial.nameMaterial}></p>
										</div>
									</div>
									
									<div class="card bg-light">
										<i class="fas fa-flask fa-2x"></i>
										<div class="card-body text-center">
											<p th:text=${chemicalAndMaterial.typeMaterial}></p>
										</div>
									</div>
									<div class="card bg-light">
										<i class="fas fa-prescription-bottle fa-2x"></i>
										<div class="card-body text-center">
											<p th:text=${chemicalAndMaterial.descriptionMaterial}></p>
										</div>
									</div>
									<div class="card bg-light">
										<i class="fas fa-calculator fa-2x"></i>	
										<div class="card-body text-center">
											<p th:text=${chemicalAndMaterial.quantityMaterial}></p>
										</div>
									</div>
									<div class="card bg-light">
										<i class="fas fa-boxes fa-2x"></i>
										<div class="card-body text-center">				
											<p th:text=${chemicalAndMaterial.unitMeasue}></p>
										</div>
									</div>
									<div class="card bg-light">
										<i class="fas fa-money-bill-alt fa-2x"></i>
										<div class="card-body text-center">
											<p th:text=${chemicalAndMaterial.priceBuy}></p>
										</div>
									</div>	
									<div class="card bg-light">
										<i class="fas fa-calendar-alt fa-2x"></i>	
										<div class="card-body text-center">
											<p th:text="${#dates.format(chemicalAndMaterial.dateBuy,'dd-MM-yyy')}"></p>
										</div>
									</div>			
									<div class="card bg-light">
										<i class="fas fa-clipboard-check fa-2x" ></i>
										<div class="card-body text-center">
											<p th:text=${chemicalAndMaterial.conditionStock}></p>
										</div>
									</div>				
									<div class="card bg-light">
										<i class="fas fa-info-circle fa-2x"></i>
										<div class="card-body text-center">
											<p th:text=${chemicalAndMaterial.commentary}></p>
										</div>
									</div>
									
								</div>
					
					
					<div class="col-sm-4">
						<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
						<i class="fas fa-info-circle"></i>&nbsp;Eliminar</button>
						<a class="btn btn-primary" th:href="@{/chemicalandmaterial/list}"><i
							class="fas fa-arrow-left"></i>&nbsp;Volver</a>
					</div>
				</div>
				<input type="hidden" id="idchemicalAndMaterial"
					th:value="${chemicalAndMaterial.idchemicalAndMaterial}" />
				<hr />
				
			</div>
		</div>
		<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">¿Desea eliminar el Video?</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
								<p th:text=${chemicalAndMaterial.nameMaterial}></p>
								<p th:text=${chemicalAndMaterial.typeMaterial}></p>
								<p th:text=${chemicalAndMaterial.descriptionMaterial}></p>
								<p th:text=${chemicalAndMaterial.quantityMaterial}></p>
								<p th:text=${chemicalAndMaterial.priceBuy}></p>
								<p th:text="${#dates.format(chemicalAndMaterial.dateBuy,'dd-MM-yyy')}"></p>
								<p th:text=${chemicalAndMaterial.conditionStock}></p>
								<p th:text=${chemicalAndMaterial.unitMeasue}></p>
								<p th:text=${chemicalAndMaterial.commentary}></p>
					</div>
					<div class="modal-footer">						
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
						<a th:href="@{/chemicalandmaterial/delete/} + ${chemicalAndMaterial.idchemicalAndMaterial}" class="btn btn-success">Confirmar</a>
					</div>
				</div>
			</div>
		</div>
			</div>
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>