<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div id="wrapper">
	<header th:replace="layout :: frgHeader"></header>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">			
				<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="far fa-plus-square fa-2x"></i>
					</div>
					<h3 class="card-title col-sm-10" th:text="${title}"></h3>					
				</div>
			Formulario	
				<form th:action="@{/chemicalandmaterial/save}" th:object="${chemicalAndMaterial}" enctype="multipart/form-data" method="post">
				
			
				<div class="row d-flex align-items-center">				
				  <div class="form-group row">
						<div class="content col-1">
							<i class="fas fa-flask"></i>										
						</div>
						<div class="content col-10">							
							<input class="form-control" type="text" 
								th:field="*{typeMaterial}"
								th:errorclass="'form-control is-invalid'"
								placeholder="Tipo de Material"  />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('typeMaterial')}"
								th:errors="*{typeMaterial}"></small>										

						</div>
					</div> 
					
					
					<br />
					
					  <div class="form-group row">
						<div class="content col-sm-1">
							<i class="fas fa-atom"></i>						
						</div>
						<div class="content col-sm-10">							
							<input class="form-control" type="text" 
								th:field="*{nameMaterial}"
								th:errorclass="'form-control is-invalid'" 
								placeholder="Nombre del Material"/>
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('nameMaterial')}"
								th:errors="*{nameMaterial}"></small>										

						</div>
					</div> 
					
					<br />
					
					  <div class="form-group row">
						<div class="content col-sm-1">
							<i class="fas fa-prescription-bottle"></i>												
						</div>
						<div class="content col-sm-10">							
							<input class="form-control" type="text" 
								th:field="*{descriptionMaterial}"
								th:errorclass="'form-control is-invalid'"
								placeholder="Descripci&oacute;n del Material" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('descriptionMaterial')}"
								th:errors="*{descriptionMaterial}"></small>										

						</div>
					</div> 
					
					</div>
					
				<div class="row d-flex align-items-center">		
					  <div class="form-group row">
						<div class="content col-sm-1">
							<i class="fas fa-calculator"></i>							
						</div>
						<div class="content col-sm-10">							
							<input class="form-control" type="number" 
								th:field="*{quantityMaterial}"
								th:errorclass="'form-control is-invalid'"
								placeholder="Cantidad" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('quantityMaterial')}"
								th:errors="*{quantityMaterial}"></small>										

						</div>
					</div> 
					
					<br/>
					
					  <div class="form-group row">
						<div class="content col-sm-1">
							<i class="fas fa-boxes"></i>						
						</div>
						<div class="content col-sm-10">							
							<select class="form-control" th:field="*{unitMeasue}"
								      th:errorclass="'form-control is-invalid'">
									  <option value="Kilogramos">Kil&oacute;gramos</option>
									  <option value="Gramos">Gramos</option>			
      						 </select>
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('unitMeasue')}"
								th:errors="*{unitMeasue}"></small>										

						</div>
					</div> 
					
					<br/>
					
					  <div class="form-group row">
						<div class="content col-sm-1">
							<i class="fas fa-money-bill-alt"></i>
													
						</div>
						<div class="content col-sm-10">							
							<input class="form-control" type="number" 
								th:field="*{priceBuy}"
								th:errorclass="'form-control is-invalid'"
								placeholder="Precio de Compra"/>
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('priceBuy')}"
								th:errors="*{priceBuy}"></small>										

						</div>
					</div> 
					
					</div>
					
					<div class="row d-flex align-items-center">		
					  <div class="form-group row">
						<div class="content col-sm-1">
							<i class="fas fa-clipboard-check"></i>
													
						</div>
						<div class="content col-sm-10">							
							
						<h4>Condici&oacute;n:</h4>
						<p class="clasificacion"> 
                        <input th:field="*{conditionStock}"
								th:errorclass="'form-control is-invalid'"  id="radio1" type="radio" name="estrellas" value="5"><!--
                        --><label for="radio1">★</label><!--
                        --><input th:field="*{conditionStock}"
								th:errorclass="'form-control is-invalid'" id="radio2" type="radio" name="estrellas" value="4"><!--
                        --><label for="radio2">★</label><!--
   						--><input th:field="*{conditionStock}"
								th:errorclass="'form-control is-invalid'" id="radio3" type="radio" name="estrellas" value="3"><!--
    					--><label for="radio3">★</label><!--
    					--><input th:field="*{conditionStock}"
								th:errorclass="'form-control is-invalid'" id="radio4" type="radio" name="estrellas" value="2"><!--
    					--><label for="radio4">★</label><!--
    					--><input th:field="*{conditionStock}"
								th:errorclass="'form-control is-invalid'" id="radio5" type="radio" name="estrellas" value="1"><!--
    					--><label for="radio5">★</label>
  						</p>			
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('conditionStock')}"
								th:errors="*{conditionStock}"></small>										

						</div>
					</div> 
					
				<br />
					
					  <div class="form-group row">
						<div class="content col-sm-1">
							<i class="fas fa-calendar-alt"></i>						
						</div>
						<div class="content col-sm-10">							
							<input class="form-control" type="date" 
								th:field="*{dateBuy}"
								th:errorclass="'form-control is-invalid'"
								placeholder="Fecha de Compra" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('dateBuy')}"
								th:errors="*{dateBuy}"></small>										
						</div>				
					</div>
					
					
					
					<br />
					
					  <div class="form-group row">
						<div class="content col-sm-1">
							<i class="fas fa-info-circle"></i>
													
						</div>
						<div class="content col-sm-10">							
							<input class="form-control" type="text" 
								th:field="*{commentary}"
								th:errorclass="'form-control is-invalid'"
								placeholder="Comentario" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('commentary')}"
								th:errors="*{commentary}"></small>										

						</div>
						</div>
						<br />
						<div class="form-group row">
						<div class="content col-1">
							<i class="far fa-image fa-2x"></i>					
						</div>
						<div class="content col-10">
							<input type="file" name="photo_qm" id="photo_qm" class="form-control">								
						</div>
						
					</div> 
					
					</div>
					
					
			
					
					<div class="form-group row">
						<div class="col-sm-4">
							<a class="btn btn-danger" 
								th:href="@{/chemicalandmaterial/list}">
							<i class="fas fa-minus-circle"></i>&nbsp;Cancelar</a>
							<button class="btn btn-success" type="submit">
								<i class="fas fa-plus-circle"></i>&nbsp;Guardar
							</button>
						</div>
					</div>
					<input type="hidden" th:field="*{idchemicalandmaterial}" />
							
				
				</form>
				
			</div>
		</div>
			</div>
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>