<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
<div id="wrapper">
	<header th:replace="layout :: frgHeader"></header>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">				
				<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="far fa-plus-square fa-2x"></i>
					</div>
					<h3 class="card-title col-sm-10" th:text="${title}"></h3>
				</div>
				<hr />
				<table class="table table-hover">
					<thead>
						<tr>
								
								<th><i class="fas fa-atom"></i>&nbsp;Nombre</th>
								<th><i class="fas fa-flask"></i>&nbsp;Tipo </th>
								<th><i class="fas fa-calculator"></i>&nbsp;Cantidad</th>
								<th><i class="fas fa-boxes"></i>&nbsp;Unidad</th>
								<th><i class="fas fa-money-bill-alt"></i>&nbsp;Precio</th>
								<th><i class="fas fa-calendar-alt"></i>	&nbsp;Fecha</th>
								<th><i class="fas fa-clipboard-check"></i>&nbsp;Condici&oacute;n</th>
								
								<th><a class="btn btn-sm btn-success"
									th:href="@{/chemicalandmaterial/create}">&nbsp;Nuevo</a></th>
						</tr>
					</thead>
					<tbody>						
						<tr th:each="chemicalAndMaterial : ${chemicalAndMaterials}">
								<td th:text=${chemicalAndMaterial.nameMaterial}></td>
								<td th:text=${chemicalAndMaterial.typeMaterial}></td>
								<td th:text=${chemicalAndMaterial.quantityMaterial}></td>
								<td th:text=${chemicalAndMaterial.unitMeasue}></td>
								<td th:text=${chemicalAndMaterial.priceBuy}></td>
								<td th:text="${#dates.format(chemicalAndMaterial.dateBuy,'dd-MM-yyy')}"></td>
								<td th:text=${chemicalAndMaterial.conditionStock}></td>
									
								<td><a class="btn btn-sm btn-warning"
									th:href="@{/chemicalandmaterial/update/} + ${chemicalAndMaterial.idchemicalandmaterial}">&nbsp;Actualizar</a>
									<a class="btn btn-sm btn-info"
									th:href="@{/chemicalandmaterial/retrieve/} + ${chemicalAndMaterial.idchemicalandmaterial}">&nbsp;Consultar</a>
								</td>
							</tr>
					
					</tbody>
				</table>
			</div>
		</div>
			</div>
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>