<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
	<div id="wrapper">
		<header th:replace="layout :: frgHeader"></header>
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Begin Page Content -->
			<div class="container">
				<div class="container-fluid">
					<br />

					<div class="card col-md-12">
						<div class="card-body">
							<div class="form-group row">
								<div class="content col-sm-1"></div>


								<div class="card-columns">
									<div class="card bg-light">
										<i class="fas fa-seedling fa-2x"></i>
										<div class="card-body text-center">
											<p class="card-text" th:text=${plant.namePlant}></p>
										</div>
									</div>
									<div class="card bg-light">
										<i class="fas fa-dna fa-2x"></i>
										<div class="card-body text-center">
											<p class="card-text" th:text=${plant.typePlant}></p>
										</div>
									</div>
									<div class="card bg-light">
										<i class="fas fa-mortar-pestle fa-2x"></i>	
										<div class="card-body text-center">
											<p class="card-text" th:text=${plant.varietyPlant}></p>
										</div>
									</div>
									<div class="card bg-light">
										<i class="fas fa-clipboard-check fa-2x"></i>	
										<div class="card-body text-center">
											<p class="card-text" th:text=${plant.conditionPlant}></p>
										</div>
									</div>
									<div class="card bg-light">
										<i class="fas fa-prescription-bottle fa-2x"></i>
										<div class="card-body text-center">
											<p class="card-text" th:text=${plant.descriptionPlant}></p>
										</div>
									</div>
									<div class="card bg-light">
										<i class="fas fa-info-circle fa-2x"></i>
										<div class="card-body text-center">
											<p class="card-text" th:text=${plant.commentary}></p>
										</div>
									</div>
									<div class="card bg-light" >
										<i class="far fa-image fa-2x"></i>
										<div class="card-body">
											
												<img class="card-img" th:src="@{/photos_plants/} + ${plant.image_plant}" width="80"
													height="80" />
											
										</div>
									</div>
								</div>




								<div class="col-sm-4">
									<button class="btn btn-danger" data-toggle="modal"
										data-target="#deleteModal">
										<i class="fas fa-info-circle"></i>&nbsp;Eliminar
									</button>
									<a class="btn btn-primary" th:href="@{/plant/list}"><i
										class="fas fa-arrow-left"></i>&nbsp;Volver</a>
								</div>
							</div>
							<input type="hidden" id="idplant" th:value="${plant.idplant}" />
							<hr />

						</div>
					</div>
					<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">¿Desea eliminar el Video?</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p th:text=${plant.namePlant}></p>
									<p th:text=${plant.typePlant}></p>
									<p th:text=${plant.varietyPlant}></p>
									<p th:text=${plant.conditionPlant}></p>
									<p th:text=${plant.descriptionPlant}></p>
									<p th:text=${plant.commentary}></p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger"
										data-dismiss="modal">Cancelar</button>
									<a th:href="@{/plant/delete/} + ${plant.idplant}"
										class="btn btn-success">Confirmar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="layout :: frgFooter"></footer>
			</div>
		</div>
	</div>
</body>
</html>