<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
	<div id="preloader">
		<i class="circle-preloader"></i>
	</div>

	<header th:replace="layout :: frgHeader"></header>

	

	<div class="top-popular-courses-area mt-100 section-padding-100-70">
	
		<section class="contact-area mt-100">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="contact-content">
							<div class="row">
								<div class="col-12">
									<div class="row">
										<div class=col-10>
											<h2>Planta</h2>
											<h4 th:text="${title}"></h4>
										</div>

									</div>

									<!-- ##### Tabs ##### -->
									<div class="col-12">
										<div class="academy-tabs-content">
											<ul class="nav nav-tabs" id="myTab" role="tablist">
												<li class="nav-item"><a class="nav-link active"
													id="tab--1" data-toggle="tab" href="#tab1" role="tab"
													aria-controls="tab1" aria-selected="false">Datos
														generales</a></li>
												<li class="nav-item"><a class="nav-link" id="tab--2"
													data-toggle="tab" href="#tab2" role="tab"
													aria-controls="tab2" aria-selected="false">Siembras</a></li>

											</ul>

											<div class="tab-content mb-100" id="myTabContent">
												<div class="tab-pane fade show active" id="tab1"
													role="tabpanel" aria-labelledby="tab--1">
													<div class="academy-tab-content">
														<!-- Tab Text -->
														<div class="academy-tab-text">
															<div class="contact-form-area wow fadeInUp"
																data-wow-delay="500ms">
																<form th:object="${plant}" method="post">



																	<div class="card-columns">
																		<div class="card bg-light">
																		<h5>Nombre:</h5>
																			<i class="fas fa-seedling fa-2x"></i>
																			
																			<div class="card-body text-center">
																				<p class="card-text" th:text=${plant.namePlant}></p>
																			</div>
																		</div>
																		<div class="card bg-light">
																		<h5>Tipo:</h5>
																			<i class="fas fa-dna fa-2x"></i>
																			<div class="card-body text-center">
																				<p class="card-text" th:text=${plant.typePlant}></p>
																			</div>
																		</div>
																		<div class="card bg-light">
																		<h5>Variedad:</h5>
																			<i class="fas fa-mortar-pestle fa-2x"></i>
																			<div class="card-body text-center">
																				<p class="card-text" th:text=${plant.varietyPlant}></p>
																			</div>
																		</div>
																		<div class="card bg-light">
																		<h5>Condici&oacute;n:</h5>
																			<i class="fas fa-clipboard-check fa-2x"></i>
																			<div class="card-body text-center">
																				<p class="card-text" th:text=${plant.conditionPlant}></p>
																			</div>
																		</div>
																		<div class="card bg-light">
																		<h5>Descripci&oacute;n:</h5>
																			<i class="fas fa-prescription-bottle fa-2x"></i>
																			<div class="card-body text-center">
																				<p class="card-text"
																					th:text=${plant.descriptionPlant}></p>
																			</div>
																		</div>
																		<div class="card bg-light">
																		<h5>Comentario:</h5>
																			<i class="fas fa-info-circle fa-2x"></i>
																			<div class="card-body text-center">
																				<p class="card-text" th:text=${plant.commentary}></p>
																			</div>
																		</div>
																		<div class="card bg-light">
																		<h5>Imagen:</h5>
																			<i class="far fa-image fa-2x"></i>
																			<div class="card-body">

																				<img class="card-img"
																					th:src="@{/photos_plants/} + ${plant.image_plant}"
																					width="80" height="80" />

																			</div>
																		</div>
																	</div>


																	<input type="hidden" th:field="*{idplant}" />
																</form>
															</div>
														</div>
													</div>
												</div>

												<div class="tab-pane fade" id="tab2" role="tabpanel"
													aria-labelledby="tab--2">
													<div class="academy-tab-content">
														<button id="btnAdd" class="btn btn-sm academy-btn btn-3"
															data-toggle="modal" data-target="#modalSowing">
															<i class="fas fa-plus-circle"></i>&nbsp;Nuevo
														</button>
														<!-- Tab Text -->
														<div class="academy-tab-text" id="listSowing"></div>
													</div>
												</div>




											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>


	<div class="modal fade" id="modalSowing" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Agregar a nueva Siembra </h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div id="contentSowing"
					class="modal-body contact-area contact-content-modal"></div>
				<div class="modal-footer">
					<button type="button" id="btnSubmit"
						class="btn btn-sm academy-btn btn-3">Guardar</button>
					<button type="button" class="btn btn-sm academy-btn btn-2"
						data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout :: frgFooter"></footer>
	<div th:replace="layout :: frgScripts"></div>
	<script th:src="@{/js/sowing/card-sowing.js}"></script>

</body>
</html>