<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<style type="text/css">
	input[type = "radio"]{ display:none;/*position: absolute;top: -1000em;*/}
	label{ color:grey;}

	.clasificacion{
    direction: rtl;
    unicode-bidi: bidi-override;
	}

label:hover,
label:hover ~ label{color:orange;}
input[type = "radio"]:checked ~ label{color:orange;}
   
</style>


</head>
<body>
<div id="wrapper">
	<header th:replace="layout :: frgHeader"></header>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">			
				<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="far fa-plus-square fa-2x"></i>
					</div>
					<h3 class="card-title col-sm-10" th:text="${title}"></h3>					
				</div>
			
			
				<form th:action="@{/plant/save}" th:object="${plant}" enctype="multipart/form-data" method="post">
				
			
			<div class="row d-flex align-items-center">		
				  <div class="form-group row">
						<div class="content col-1">
							<i class="fas fa-seedling " title="Nombre común de la planta"></i>					
						</div>
						<div class="content col-10">						
							<input class="form-control" type="text" 
								th:field="*{namePlant}"
								th:errorclass="'form-control is-invalid'" 
								placeholder="Nombre de la planta" />
					
							<small class="invalid-feedback" 
							th:if="${#fields.hasErrors('namePlant')}" th:errors="*{namePlant}"></small>									

						</div>
					</div> 
					
					<br/>
					  <div class="form-group row">
						<div class="content col-1">
							<i class="fas fa-dna" title="Tipo de planta según su tamaño"></i>											
						</div>
						<div class="content col-10">							
							<h5>Tipo de planta</h5>
								<select class="form-control" th:field="*{typePlant}"
								      th:errorclass="'form-control is-invalid'">
									  <option value="&Aacute;rboles">&Aacute;rboles</option>
									  <option value="Arbustos">Arbustos</option>
									  <option value="Matas">Matas</option>
									  <option value="Hierbas">Arbustos</option>
									  			
      						 </select>
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('typePlant')}"
								th:errors="*{typePlant}"></small>										

						</div>
					</div> 
					
		   		     <br/>
					  <div class="form-group row">
						<div class="content col-1">
							<i class="fas fa-mortar-pestle" title="Variedad de planta según su duración"></i>							
						</div>
						<div class="content col-10">							
								<h5>Variedad de planta</h5>
								<select class="form-control" th:field="*{varietyPlant}"
								      th:errorclass="'form-control is-invalid'">
									  <option value="Anuales">Anuales</option>
									  <option value="Bienales">Bienales</option>
									  <option value="Perennes">Perennes</option>			
      						 </select>
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('varietyPlant')}"
								th:errors="*{varietyPlant}"></small>										

						</div>
					</div> 
					</div>
							
			<div class="row d-flex align-items-center">	
				 
				 <div class="form-group row">
						<div class="content col-1">
							<i class="fas fa-clipboard-check" title="Estado fisico o condición de la planta"></i>											
						</div>
						<div class="content col-10">							
							<h5>Condici&oacute;n de la planta</h5>
						<p class="clasificacion"> 
                        <input th:field="*{conditionPlant}"
								th:errorclass="'form-control is-invalid'"  id="radio1" type="radio" name="estrellas" value="5" ><!--
                        --><label for="radio1">★</label><!--
                        --><input th:field="*{conditionPlant}"
								th:errorclass="'form-control is-invalid'" id="radio2" type="radio" name="estrellas" value="4"><!--
                        --><label for="radio2">★</label><!--
   						--><input th:field="*{conditionPlant}"
								th:errorclass="'form-control is-invalid'" id="radio3" type="radio" name="estrellas" value="3"><!--
    					--><label for="radio3">★</label><!--
    					--><input th:field="*{conditionPlant}"
								th:errorclass="'form-control is-invalid'" id="radio4" type="radio" name="estrellas" value="2"><!--
    					--><label for="radio4">★</label><!--
    					--><input th:field="*{conditionPlant}"
								th:errorclass="'form-control is-invalid'" id="radio5" type="radio" name="estrellas" value="1" checked><!--
    					--><label for="radio5">★</label>
  						</p>		
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('conditionPlant')}"
								th:errors="*{conditionPlant}"></small>										

						</div>
					</div> 
					
					<br/>
						
					  <div class="form-group row">
						<div class="content col-1">
							<i class="fas fa-prescription-bottle"></i>					
						</div>
						<div class="content col-10">							
							<input class="form-control" type="text" 
								th:field="*{descriptionPlant}"
								th:errorclass="'form-control is-invalid'"
								placeholder="Descripci&oacute;n" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('descriptionPlant')}"
								th:errors="*{descriptionPlant}"></small>										
						</div>
					</div> 
					
					<br/>
					
					  <div class="form-group row">
						<div class="content col-1">
							<i class="fas fa-info-circle"></i>													
						</div>
						<div class="content col-10">							
							<input class="form-control" type="text" 
								th:field="*{commentary}"
								th:errorclass="'form-control is-invalid'" 
								placeholder="Comentario"/>
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('commentary')}"
								th:errors="*{commentary}"></small>										

						</div>
					</div> 
					
					</div>
					
					<div class="row d-flex align-items-center">	
					
					
					  <div class="form-group row">
						<div class="content col-1">
							<i class="far fa-image fa-2x"></i>					
						</div>
						<h5>Imagen de la planta</h5>
						<div class="content col-10">
							<input type="file" name="photo_plant" id="photo_plant" class="form-control">								
						</div>
					</div> 
										
					</div>
					
					
					
					<div class="d-flex justify-content-end">
						<div class="col-sm-4">
							<a class="btn btn-danger" 
								th:href="@{/plant/list}">
							<i class="fas fa-minus-circle"></i>&nbsp;Cancelar</a>
							<button class="btn btn-success" type="submit">
								<i class="fas fa-save"></i>&nbsp;Guardar
							</button>
						</div>
					</div>
					<input type="hidden" th:field="*{idplant}" />
							
				
				</form>
				
			</div>
		</div>
			</div>
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>